argon2-cffi==20.1.0
attrs==20.1.0
backcall==0.2.0
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.2
cycler==0.10.0
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastkde==1.0.14
fissa==0.7.2
future==0.18.2
gpytorch==1.2.0
imageio==2.9.0
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.3
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.34.0
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
more-itertools==8.5.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
notebook==6.4.1
numba==0.51.2
numpy==1.19.1
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.10.0
pycparser==2.20
Pygments==2.7.4
pyparsing==2.4.7
pyro-api==0.1.2
pyro-ppl==1.5.1
pyrsistent==0.16.0
pytest==5.3.2
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pyzmq==19.0.2
read-roi==1.6.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sklearn==0.0
style==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
torch==1.6.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
umap-learn==0.4.6
update==0.0.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
